.part {
    height: 128px;
    width: 128px;
    background-blend-mode: multiply;
}

.tool {
    height: 128px;
    width: 128px;
    position: relative;
}

.tool .part {
    position: absolute;
    top: 0;
    left: 0;
}
