.table {
  display: grid;
}

.tableHeaderCell {
  padding: 0.5em;
  grid-column: span 1;
  text-align: center;
  font-weight: bold;
  background-color: #8b8b8b;
  user-select: none;
}

.tableHeaderCell i {
  margin-left: 0.5em;
}

.sortableTableHeaderCell {
  cursor: pointer;
}

.sortableTableHeaderCell:hover {
  background-color: #dbd9d9;
}

.tableRow {
  display: grid;
  background-color: #c6c6c6;
}

.tableRow:nth-child(even) {
  background-color: #d3d1d1;
}

.tableCell {
  padding: 0.5em;
  grid-column: span 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}