.table {
  display: grid;
}

.tableHeaderCell {
  padding: 0.5em;
  grid-column: span 1;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

.tableHeaderCell i {
  margin-left: 0.5em;
}

.sortableTableHeaderCell {
  cursor: pointer;
}

.sortableTableHeaderCell:hover {
  background-color: #dbd9d9;
}

.tableRow {
  display: grid;
  background-color: #c6c6c6;
}

.tableCell {
  padding: 0.5em;
  grid-column: span 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #8b8b8b;
  border-right: 1px solid white;
  border-left: 1px solid #373737;
  border-top: 1px solid #373737;
  border-bottom: 1px solid white;
}