$background-colour: white;
$background-colour-light: #e7e7e7;
$background-colour-lighter: #656262;
$background-colour-dark: black;

$text-colour: black;
$text-colour-highlight: grey;
$text-colour-focused: black;

$font-size: 1em;
$font-family: 'Karla', sans-serif;

$primary-background-colour: #19181e;
$primary-background-colour-light: #4d4848;
$primary-background-colour-lighter: #656262;
$primary-background-colour-dark: navy;

$primary-text-colour: #fcf0b4;
$primary-text-colour-highlight: #f9e067;
$primary-text-colour-focused: orange;

$primary-background-color: #e9e3e3;
$primary-font-family: 'Karla', sans-serif;
$font-size-large: 1.2em;
$font-sise-normal: 1em;
$font-size-small: 0.8em;

$padding: 9px;