.app {
    font-family: "Minecraft";
    color: #373737;
    background-color: #c6c6c6;
    font-size: 0.8em;
}

.appBody {
    padding-left: 1em;
    padding-right: 1em;
}

input {
    font-family: "Minecraft";
    color:#f0f0f0;
    background-color: #8b8b8b;
    padding: 8px;
}

input[type=button] {
    background-color: #6b6b6b;
    border-top: 2px solid #aaaaaa;
    border-left: 2px solid #aaaaaa;
    border-right: 2px solid #5a5a5a;
    border-bottom: 2px solid #5a5a5a;
    cursor: pointer;
}



input:focus, input:hover {
    background-color: #7779b1;
}

input::placeholder {
    color: #f0f0f0;
}